@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap");

.App {
  text-align: center;
  background-image: url("https://scitechdaily.com/images/Dark-Outer-Space-Animation.gif");
  font-family: "Space Grotesk";
}

h1 {
  color: white;
}

.p-info {
  border-radius: 15px;
  background-color: darkblue;
  padding: 0.5em;
  font-size: 15pt;
  color: white;
}

.card-img-overlay {
  background-color: #282c348c;
  transition: background-color ease-in-out 1s;
}
.card-img-overlay:hover {
  background-color: transparent;
  border: solid white 2pt;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
